/var/log/{{service}}.log {
    {{logrotateFrequency|default('daily')}}
    rotate {{logrotateMax|default('10')}}
    missingok
    notifempty
    copytruncate
    {{logrotateDateExt|default('')}}
    {{logrotateCompress|default('')}}
}